/*  1.-Posicionamiento 
    2.- Modelo de caja (Box Model)
    3.- Tipografia
    4.- Visuales
    5.- Otros (Miscellanius)
*/

:root{
    --blue: #003049;
    --red: #d62828;
    --orange: #f77f00;
    --beige: #fcbf49;
    --peach: #eae2b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20vh;
    min-width: 320px;    
    text-align: center;
    background-color: var(--blue);
    color: var(--beige);
}

.header__title{
    margin-bottom: 10px;
    font-size: 3rem;   

}

.header__paragraph{
    font-size: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    /* height: 80vh; */
    background-color: var(--blue);

}

.main__section{
    margin-top: 10px;
    width: 90%;
    max-width: 290px;
    border: 2px solid var(--beige);
    background-color: transparent;

}

.main__section:last-of-type{
    margin-bottom: 10px;
}

@media(min-width:768px){

    .header{
        height:15vh;
    }

    .main{
        flex-direction: row;
        justify-content: center;
        height: 85vh;
    }

    .main__section{
        height: 500px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    

    
}





.square{
    margin: 10px auto;
    width: 0;
    height: 0;
    border-left: 100px solid var(--beige);
    border-bottom: 100px solid var(--beige) ;
}

.main__section--title{
    
    font-size: 2rem;
    text-align: center;
    color: var(--peach) ;
}

.main__section--form{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    /* background-color: orange; */
    margin-top: 10px;
}

.form__label{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--peach);
}

.form__input{
    align-self: center;
    width: 80%;
    height: 2.5rem;
    border: 2px solid var(--peach);
    border-radius: 10px;
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--peach);
    background-color: transparent;
    outline: none;
    
}

.form__button-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.form__button-container button{
    width: 45%;
    
}

.form__button-container button:first-of-type{
    margin-right:5px;
}

.button{
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: var(--beige);
    color: var(--blue);
    cursor: pointer;
    

}

.triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--beige);
    margin: 10px auto;

}

.circle{
    width: 100px;
    height: 100px;
    background: var(--beige);
    border-radius: 50%;
    margin: 10px auto;

}